h2 {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
}
section {
  max-width: 300px;
  margin: 0 auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #cebaf5;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 6% 0 12%;
  color: #cebaf5;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
button:hover {
  background: #cebaf5;
  color: #fff;
}
button:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #cebaf5;
  position: absolute;
  top: 50%;
  left: 6%;
  margin-top: -7px;
}
button:hover:before {
  border-color: transparent transparent transparent #fff;
}